:root {
    --background-color: #3c493f;
    --container-bg-color: #f5f1ed;
    --text-color: #3c493f;
    --heading-color: #f5f1ed;
    --table-bg-color: #a3a09d;
    --table-text-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main {
    min-height: calc(100vh - 2rem);
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

h1 {
    color: var(--heading-color);
}

#content-container {
    background-color: var(--container-bg-color);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 500px;
    overflow: auto;
}

#search-container > label {
    font-weight: bold;
    font-size: 1.2rem;
}

#search-input {
    padding: 0.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.2rem;
}

#search-input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
                0 0 10px rgba(0, 0, 0, 0.4);
}

#search-button {
    background-color: var(--background-color);
    color: var(--container-bg-color);
    font-size: 1.1rem;
    border: 2px solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#search-button:hover {
    transform: translateY(2px)translateX(2px);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

#search-button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: none
}

table {
    color: var(--table-text-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;

}

td,th {
    background-color: var(--table-bg-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7),
                0 0 20px rgba(0, 0, 0, 0.5);
}

th {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}